# Homework 04:  More Tools for the Toolbox: Null Values, Categorical Features, and Cross Validation

In this homework, we are going to add three tools to your toolbox which will be essential when you work with real datasets:
1. What do we do with null-values?
2. How do we deal with non-numeric features?
3. What validation strategy provides the best estimate of the final testing score?

For (1), we'll explore several ways of dealing with null values:
- Removing columns with too many null values,
- Imputing values for missing categorical labels using the "most frequent" category strategy, and
- Imputing values for missing numeric values using the median. 


For (2), we'll use ordinal encoding to replace categorical labels with floats.

For (3), we'll try three different cross-validation strategies:

- 5-Fold CV,
- Repeated 5-Fold CV, and
- Leave One Out CV, 

and see which comes closest to estimating the final testing metrics (MSE and RMSE). 


#### Grading: There are eight (8) answers to provide, each worth 6 points.  (You get 2 points for free.)

In [1]:
# Useful imports

import os
import kagglehub
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, cross_val_score, RepeatedKFold, LeaveOneOut
from sklearn.linear_model    import LinearRegression
from sklearn.preprocessing   import OrdinalEncoder, OneHotEncoder  
from sklearn.impute          import SimpleImputer
from sklearn.metrics         import mean_squared_error, r2_score
from tqdm                    import tqdm

random_seed = 42

/usr/local/python/3.12.1/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Load the Ames Housing Dataset

For a description of the features of this dataset, see the **Appendix**.

In [2]:
# Download the latest version of the dataset
path = kagglehub.dataset_download("shashanknecrothapa/ames-housing-dataset")

print("Path to dataset files:", path)

# Construct the full path to the CSV file (update the file name if necessary)
csv_file = os.path.join(path, "AmesHousing.csv")

# Read the dataset into a DataFrame
df = pd.read_csv(csv_file)

Path to dataset files: /home/codespace/.cache/kagglehub/datasets/shashanknecrothapa/ames-housing-dataset/versions/1

In [3]:
# Print the first few rows of the DataFrame
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [4]:
# To see the listing of features

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     1155 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

In [ ]:
# To see the feature histograms

print("Feature Histograms")
df.hist(figsize=(15, 13), bins=30)  # Adjust figure size and number of bins
plt.tight_layout()  # Adjust spacing to prevent overlap
plt.show()

Feature Histograms

### Data Preprocessing

First, let's remove the features that are clearly not useful for regression: the row-number `Order` and the Parcel Identification Number `PID`.

In [ ]:
df_clean = df.drop(columns=['Order','PID'])
df_clean.head()

,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

### Problem One: Dealing with Null Values

There are basically two strategies for dealing with missing (null or `NaN`) values:
- Get them out of your dataset by **removing** features and/or samples containing too many nulls.
- **Impute** values by replacing nulls with the mean, median, or other "neutral" value computed from the feature.

**Note:** It is also possible to impute values using more advanced techniques such as mode imputation, forward/backward fill, or predictive modeling (e.g., KNN or regression-based imputation). These more advanced techniques might be useful when you start to work on your project.

**First we will explore how many null values occur in each feature.**

In [ ]:
# Although the info method above shows us which features have missing values and how many aren't missing,
# this function will provide more details about the missing values. 

def show_null_counts_features(df):
    # Count the nulls and calculate the %
    count_nulls = df.isnull().sum()
    df_nulls = (df.isnull().mean() * 100).round(2)
    
    # Determine if the column is numeric or non-numeric
    feature_types = df.dtypes.apply(lambda x: 'Numeric' if np.issubdtype(x, np.number) else 'Categorical')
    
    # Filter out the columns with missing values and sort them in descending order
    missing_data = pd.DataFrame({
        'Feature': count_nulls[count_nulls > 0].index,
        '# Null Values': count_nulls[count_nulls > 0].values, 
        'Null %': df_nulls[df_nulls > 0].values,
        'Type': feature_types[count_nulls > 0].values
    }).sort_values(by='Null %', ascending=False)
    print(f'The dataset contains {len(df)} samples.\n')
    if (len(missing_data) == 0):
        print("There are no null values in the dataset!")
    else:
        # Print null value stats
        print('Feature Name    # Nulls      Null %    Type')
        print('------------    -------      ------    ----')
        for index, row in missing_data.iterrows():
            print(f"{row['Feature']:<15} {row['# Null Values']:<12} {row['Null %']:.2f}%   {row['Type']}")
# Uncomment to see results           
#show_null_counts_features(df_clean)

### Part A

Clearly, some of these features are not very informative! Let's drop the worst offenders!

**Fill in your code after the comments below to drop any features with more than `max_nulls` null values.**

In [ ]:
max_nulls = 500  # we will drop any features with more than max_nulls missing values

# Count null values per column
null_counts = df_clean.isnull().sum()
# to check
print(null_counts.sort_values(ascending=False))  # Optional: view null counts for all features

# Filter out columns where null count exceeds max_nulls
cols_to_drop = null_counts[null_counts > max_nulls].index

# Drop the columns
df_clean = df_clean.drop(columns=cols_to_drop)

# Uncomment to verify they were removed
# show_null_counts_features(df_clean)

Pool QC           2917
Misc Feature      2824
Alley             2732
Fence             2358
Mas Vnr Type      1775
                  ...
Mo Sold              0
Yr Sold              0
Sale Type            0
Sale Condition       0
SalePrice            0
Length: 80, dtype: int64

### Graded Question

Assign `a1a` to the number of cells that were dropped

In [ ]:
# Your answer here; use an expression, not a constant derived by examining the data
# Number of columns dropped
num_cols_dropped = len(cols_to_drop)
# Number of rows 
num_rows = df.shape[0] 
# Calculate total number of cells dropped
a1a = num_cols_dropped * num_rows

In [ ]:
# Do not change this cell in any way

print(f"a1a = {a1a}")

a1a = 17580

### Part B:  Feature Transformations for Imputing Null Values

Now let's perform the following feature transformations:

- For categorical features, we'll replace null values with the most frequent category in that column
- For numeric features, we'll replace nulls with the median for that feature 


This is very simple to do with a couple of lines of Python, but naturally we want to use `sklearn` functions whenever we can, so we'll use ` SimpleImputer`.

**Go read the doc page for `SimpleImputer` before proceeding.**

### Imputing Categorical Features using the Most Frequent Strategy

In the next cell you see how easy it is to examine the categories. **Take a moment and explore several of the categorical features.**  In this dataset, most of them are skewed, with a clear "most favorite" category. 
(If the feature values are not skewed, then you could change these to a new category "Unknown".)

In [ ]:
df_clean['Garage Qual'].value_counts(dropna=False)

Garage Qual
TA     2615
NaN     159
Fa      124
Gd       24
Po        5
Ex        3
Name: count, dtype: int64

Before proceeding, let's get lists of the two types of features.

In [ ]:
# Identify categorical and numeric features

categorical_features = df_clean.select_dtypes(exclude=['number']).columns.tolist()
numeric_features     = df_clean.select_dtypes(include=['number']).columns.tolist()

# Uncomment to print results

# print("Categorical Features:", categorical_features)
# print()
# print("Numeric Features:", numeric_features)

**Now you must impute all the categorical features using `SimpleImputer` with the `most_frequent` strategy.**

In [ ]:
# First make a copy of the cleaned dataset
df_imputed = df_clean.copy()
# Impute categorical columns (using most frequent category)
cat_imputer = SimpleImputer(strategy='most_frequent')
df_imputed[categorical_features] = cat_imputer.fit_transform(df_imputed[categorical_features])
# Verify: only numeric features should appear
show_null_counts_features(df_imputed)
# show_null_counts_features(df_imputed)
print(df_imputed[categorical_features].isnull().sum())

The dataset contains 2930 samples.

Feature Name    # Nulls      Null %    Type
------------    -------      ------    ----
Lot Frontage    490          16.72%   Numeric
Garage Yr Blt   159          5.43%   Numeric
Mas Vnr Area    23           0.78%   Numeric
Bsmt Half Bath  2            0.07%   Numeric
Bsmt Full Bath  2            0.07%   Numeric
BsmtFin SF 1    1            0.03%   Numeric
BsmtFin SF 2    1            0.03%   Numeric
Total Bsmt SF   1            0.03%   Numeric
Bsmt Unf SF     1            0.03%   Numeric
Garage Cars     1            0.03%   Numeric
Garage Area     1            0.03%   Numeric
MS Zoning         0
Street            0
Lot Shape         0
Land Contour      0
Utilities         0
Lot Config        0
Land Slope        0
Neighborhood      0
Condition 1       0
Condition 2       0
Bldg Type         0
House Style       0
Roof Style        0
Roof Matl         0
Exterior 1st      0
Exterior 2nd      0
Exter Qual        0
Exter Cond        0
Foundation        0
Bsmt Qual         0
Bsmt Cond         0
Bsmt Exposure     0
BsmtFin Type 1    0
BsmtFin Type 2    0
Heating           0
Heating QC        0
Central Air       0
Electrical        0
Kitchen Qual      0
Functional        0
Garage Type       0
Garage Finish     0
Garage Qual       0
Garage Cond       0
Paved Drive       0
Sale Type         0
Sale Condition    0
dtype: int64

### Graded Question

Set `a1b` to the number of occurrences of the category `TA` in the feature `Garage Qual`. 
It should have increased from before the imputation, because `NaN` values were changed to `TA`

In [ ]:
# Your answer here; use an expression, not a constant derived by examining the data

a1b = (df_imputed['Garage Qual'] == 'TA').sum()
                       # replace 0 with an expression

In [ ]:
# Do not change this cell in any way

print(f"a1b = {a1b}")

a1b = 2774

### Part C:  Imputing Numeric Features using the Median

Now you must "simply impute" values for the missing numeric features using the `median` strategy.

In [ ]:
# Impute numeric columns (using the median)
num_imputer = SimpleImputer(strategy='median')
df_imputed[numeric_features] = num_imputer.fit_transform(df_imputed[numeric_features])
# Verify: There should be no null values
show_null_counts_features(df_imputed)
# show_null_counts_features(df_imputed)
print(df_imputed[numeric_features].isnull().sum().sort_values(ascending=False))

### Graded Question

Set `a1c` to the number of rows with missing values.  Should be 0.

In [ ]:
# Your answer here; use an expression, not a constant derived by examining the data

a1c = ...                        # replace ... with an expression

In [ ]:
# Do not change this cell in any way

print(f"a1c = {a1c}")

a1c = Ellipsis

### Part D:   Ordinal Encoding the categorical features with OrdinalEncoder

The simplest option in dealing with categorical values is to represent them by integers 0, 1, 2, etc.

**Before proceeding, read the doc page on `sklearn`'s `OrdinalEncoder`.**

Follow the comments to perform this feature transformation.

#### Note: Do not simply apply the `OrdinalEncoder` to the entire dataframe, as it will also encode the numeric features!
#### You can solve this using the same approach as the transformation in the previous problem.

In [ ]:
# Put df_imputed in the form X, y


# Initialize OrdinalEncoder

# Convert back to DataFrame to retain column names 


# # Verify: all Dtypes should be float64

# X.info()

### Graded Question

Set `a1d` to the number of categories imputed for `Lot Shape`. Hint: Just take the `len(...)` of the unique values in the newly-computed feature.

In [ ]:
# Your answer here; use an expression, not a constant derived by examining the data

a1d = 0                         # replace 0 with an expression

In [ ]:
# Do not change this cell in any way

print(f"a1d = {a1d}")

a1d = 0

## Problem Two:  Train and Test a Regression Model with Cross-Validation

In this problem, we will perform a regression on the Ames Housing Dataset using several different cross-validation
strategies, comparing the cross-validation score for each with the final testing MSE, to see which provides the best
estimate of the final test score, and hence of the model's ability to generalize. 


We shall compare each of the following cross-validation MSEs with the final test MSE score:

- 5-Fold Cross-Validation (default)
- Repeated 5-Fold Cross-Validation (repeated 100 times)
- Leave-One-Out Cross Validation

### Part A: 5-Fold Cross-Validation

For this part
- Create a train-test split with `test_size=0.2` and `random_state=random_seed`
- Create a linear model and perform K-fold cross-validation with K = 5 and using `scoring='neg_mean_squared_error'` (remember to take the mean of the CV scores and negate the result, since scoring uses a negative MSE). 
- Report the
    - CV score (negated mean of MSE measurements over all K folds)
    - Test MSE


Use `random_state = random_seed` for all experiments.

In [ ]:
# Your code here, add additional code cells if you wish

### Graded Question

Set `a2a` to the Test MSE.

In [ ]:
# Your answer here; use an expression, not a constant derived by examining the data

a2a = 0                         # replace 0 with an expression

In [ ]:
# Do not change this cell in any way

print(f"a2a = {a2a:.4f}")

a2a = 0.0000

## Part B: Perform Repeated 5-Fold Cross Validation

Read the doc page on `sklearn`'s `RepeatedKFold` for cross validation; repeat the CV calculation with K = 5 and `n_repeats=100`
and report the CV score (negated mean of MSE measurements over all 100*K folds)

In [ ]:
# Your code here; add additional cells if you wish

### Graded Question

Set `a2b` to the mean CV score for the repeated K-fold experiment.

Note: if your CV score is negative, go back and read the instructions for Part A again

In [ ]:
# Your answer here; use an expression, not a constant derived by examining the data

a2b = 0                        # replace 0 with an expression

In [ ]:
# Do not change this cell in any way

print(f"a2b = {a2b:.4f}")

a2b = 0.0000

## Part C: Perform Leave One Out Cross Validation

This is simply a matter of setting `cv=LeaveOneOut()`. Run the same experiment and report the CV score. It may take a few minutes to run.

In [ ]:
# Your code here; add additional cells if you wish

### Graded Question

Set `a2c` to the mean CV score for the leave-one-out experiment.

In [ ]:
# Your answer here; use an expression, not a constant derived by examining the data

a2c = 0                        # replace 0 with an expression

In [ ]:
# Do not change this cell in any way

print(f"a2c = {a2c:.4f}")

a2c = 0.0000

### Part D

Now, in order to help interpret the results, print out a table of the **square roots** of each of the CV scores (the RMSEs) and the final test RMSE; we can then see the result in the same units (dollars) as the target, instead of the units of the MSE (dollars squared).

Hint: Here is an example of how to print out values as currency:

    cost = 23512.23
    print(f"cost: ${cost:,.2f}")

In [ ]:
# Your code here

### Graded Question

Set `a2d` to the letter of the strategy which was closest to the Test RMSE. 

Should be 1 = 5-fold CV; 2 = Repeated 5-Fold CV; or 3 = LOO CV

In [ ]:
# Your answer here

a2d = 0                       # Should be 1 = 5-fold CV; 2 = Repeated 5-Fold CV; or 3 = LOO CV

In [ ]:
# Do not change this cell in any way

print(f"a2d = {a2d}")

a2d = 0

## Appendix: Explanation of Features in Ames Housing Dataset

### **Identification**
- `PID` â†’ Parcel Identification Number (unique identifier for each property)
- `Order` â†’ Row number (used for indexing, not a feature)

---

### **Sale Information**
- `SalePrice` â†’ The final selling price of the house in USD (**Target variable**)
- `Mo Sold` â†’ Month the house was sold (1 = January, ..., 12 = December)
- `Yr Sold` â†’ Year the house was sold
- `Sale Type` â†’ Type of sale (e.g., **WD** = Warranty Deed, **New** = Newly Built)
- `Sale Condition` â†’ Condition of the sale (e.g., **Normal**, **Abnormal**, **Partial** for incomplete homes)

---

### **General Property Information**
- `MS SubClass` â†’ Type of dwelling (e.g., **20 = 1-story**, **60 = 2-story**, **120 = Townhouse**)
- `MS Zoning` â†’ Zoning classification (e.g., **RL = Residential Low Density**, **C = Commercial**)
- `Lot Frontage` â†’ Linear feet of street connected to property
- `Lot Area` â†’ Total size of the lot in square feet
- `Neighborhood` â†’ Physical locations within Ames (e.g., **CollgCr = College Creek**)
- `Condition 1` / `Condition 2` â†’ Proximity to roads or railroads (e.g., **Norm = Normal**, **PosN = Near Park**)

---

### **Building & House Design**
- `Bldg Type` â†’ Type of dwelling (e.g., **1Fam = Single Family**, **Twnhs = Townhouse**)
- `House Style` â†’ Style of the house (e.g., **1Story = One Story**, **2Story = Two Story**, **SplitFoyer**)
- `Overall Qual` â†’ Overall quality of materials (scale: **1 = Very Poor** to **10 = Excellent**)
- `Overall Cond` â†’ Overall condition of the house (scale: **1 = Very Poor** to **10 = Excellent**)

---

### **Year Built & Remodel**
- `Year Built` â†’ Original construction year
- `Year Remod/Add` â†’ Year of last remodel or addition

---

### **Exterior Features**
- `Exterior 1st` / `Exterior 2nd` â†’ Exterior covering material (e.g., **VinylSd = Vinyl Siding**, **HdBoard = Hardboard**)
- `Mas Vnr Type` â†’ Masonry veneer type (e.g., **BrkFace = Brick Face**, **None = No Veneer**)
- `Mas Vnr Area` â†’ Area of masonry veneer in square feet

---

### **Basement Features**
- `Bsmt Qual` â†’ Basement height (e.g., **Ex = Excellent**, **TA = Typical**, **Po = Poor**)
- `Bsmt Cond` â†’ General condition of the basement
- `Bsmt Exposure` â†’ Walkout or garden level basement?
- `BsmtFin Type 1` / `BsmtFin SF 1` â†’ Primary finished area in basement (e.g., **GLQ = Good Living Quarters**)
- `BsmtFin Type 2` / `BsmtFin SF 2` â†’ Secondary finished area
- `Bsmt Unf SF` â†’ Unfinished square feet in basement
- `Total Bsmt SF` â†’ Total square footage of basement

---

### **Utilities & HVAC**
- `Heating` â†’ Type of heating system (e.g., **GasA = Gas Forced Air**, **OthW = Hot Water Heating**)
- `Heating QC` â†’ Quality of heating system (e.g., **Ex = Excellent**, **Fa = Fair**)
- `Central Air` â†’ **Y = Yes**, **N = No**
- `Electrical` â†’ Electrical system (e.g., **SBrkr = Standard Breaker**, **FuseA = Fuse Box**)

---

### **Above Ground Living Area**
- `1st Flr SF` â†’ First-floor square footage
- `2nd Flr SF` â†’ Second-floor square footage
- `Gr Liv Area` â†’ Total **above-ground** living area in square feet
- `Low Qual Fin SF` â†’ Low-quality finished square feet (e.g., unfinished rooms)

---

### **Bathrooms & Bedrooms**
- `Full Bath` â†’ Full bathrooms above ground
- `Half Bath` â†’ Half bathrooms above ground
- `Bsmt Full Bath` â†’ Full bathrooms in basement
- `Bsmt Half Bath` â†’ Half bathrooms in basement
- `Bedroom AbvGr` â†’ Number of bedrooms above ground
- `Kitchen AbvGr` â†’ Number of kitchens above ground
- `Kitchen Qual` â†’ Kitchen quality (**Ex = Excellent**, **Fa = Fair**)

---

### **Garage Features**
- `Garage Type` â†’ Type of garage (e.g., **Attchd = Attached**, **Detchd = Detached**)
- `Garage Yr Blt` â†’ Year garage was built
- `Garage Finish` â†’ Interior finish of garage
- `Garage Cars` â†’ Size of garage in car capacity
- `Garage Area` â†’ Garage size in square feet

---

### **Additional Features**
- `Fireplaces` â†’ Number of fireplaces
- `Fireplace Qu` â†’ Fireplace quality
- `Paved Drive` â†’ Paved driveway? (**Y = Yes, P = Partial, N = No**)
- `Wood Deck SF` â†’ Square footage of wood deck
- `Open Porch SF` â†’ Square footage of open porch
- `Enclosed Porch` â†’ Square footage of enclosed porch
- `Screen Porch` â†’ Square footage of screened porch
- `Pool Area` â†’ Pool area in square feet
- `Misc Val` â†’ Miscellaneous features (e.g., shed value)